*{
  margin: 0;
  padding: 0;
}
.box{
  width: 500px;
  /*background: rgba(0, 0, 0, 0.4);*/
  padding: 40px;
  text-align: center;
  margin: auto;
  /*margin-top: 5%;*/
  color: white;
  font-family: 'Century Gothic',sans-serif;
  line-height: 50px;
}
.box-img{
  border-radius: 50%;
  width: 400px;
  height: 230px;
}
.box h1{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 100;
  color: #87CEEB;
}
.box h5{
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 100;
  color: yellow;
}
.box p{
  text-align: center;
  -webkit-box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  box-sizing: border-box;  
  padding: 0px;  
  border: none;  
  font: normal 30px/normal "Dynalight", Helvetica, sans-serif;  
  color: rgba(255,255,255,1);  
  text-decoration: normal;  
  text-align: center;  
  -o-text-overflow: clip;  
  text-overflow: clip;  
  /*white-space: pre; */ 
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}


.link:hover{
  border-color: #2691d9;
  transition: .2s;
}

.link a{
  text-align: center ;
  text-decoration: none;
  font-size: 30px;
   background: none;
}

.link a:hover{
  text-decoration: underline;
}

.video-background{
  position: absolute;
  right: 0;
  bottom::0;
  min-width: 100% ;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;  

}
